<QNH.Overheid.KernRegister.Beheer.Properties.Settings>
  <setting name="UseMockCrm" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="RoleManage" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>[domain username or group]</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="RoleView" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>[domain username or group]</string>
        <string>*</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="CrediteurenRole" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>[domain username or group]</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="DebiteurenRole" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>[domain username or group]</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="AdministratorRole" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>[domain username or group]</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="CrmRole" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>*</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="BrmoRole" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>*</string>
      </ArrayOfString>
    </value>
  </setting>
</QNH.Overheid.KernRegister.Beheer.Properties.Settings>