<appSettings>
  <!-- Add to allow windows authentication -->
  <add key="autoFormsAuthentication" value="false" />
  <add key="enableSimpleMembership" value="false" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- UserSettings for FormsAuthentication -->
  <add key="EnsureAuthenticatedUser" value="false" />
  <add key="AdminUser" value="" />
  <add key="AdminPass" value="" />

  <!-- IoC Settings -->
  <!-- Specify whether or not to create the database i.e. run the creation script -->
  <add key="CreateDatabase" value="true" />
  <!-- Possible values: NHibernateOracle | NHibernateSQLCE | NHibernateSQL | NHibernatePostGRESQL...  -->
  <add key="DatabaseProvider" value="NHibernatePostGRESQL" />
  <!-- Specify Database Schema Name -->
  <add key="DatabaseSchemaName" value="" />
  <add key="MaxDegreeOfParallelism" value="8" />
  <!-- SearchService Cache settings -->
  <add key="SearchServiceCacheTimeInHours" value="1" />
  <add key="SearchServiceKlantReferentie" value="" />
  <add key="HR-DataserviceVersionNumber" value="3.0" />

  <!-- DocBase settings -->
  <add key="DocBaseUsername" value="" />
  <add key="DocBasePassword" value="" />
  <add key="DocBaseAuthId" value="" />
  <add key="DocBaseProcessId" value="" />

  <!-- Crm update for all users-->
  <add key="UseCrmForAllUsers" value="true" />
  <add key="PdfWkHtmlToPdfCustomSwitches" value="--viewport-size 1380 --disable-internal-links --disable-external-links --disable-forms --no-print-media-type --username .\wkhtmluser --password wkhtmluser --load-error-handling ignore" />

  <!-- BatchProcess settings -->
  <!-- Both absolute and relative paths are allowed. Paths are considered absolute when they contain a ':' -->
  <add key="BatchProcessExecutablePath" value="QNH.Overheid.KernRegister.BatchProcess\bin\Debug\QNH.Overheid.KernRegister.BatchProcess.exe" />
  <add key="BatchProcessDisabled" value="false" />

  <!-- Postcode service settings -->
  <add key="PostcodeServiceBaseUrl" value="http://geodata.nationaalgeoregister.nl/locatieserver/v3/free?q=%22{0}%22%20and%20type:postcode&amp;df=postcode&amp;fl=gemeentenaam,postcode,score,type,provincienaam&amp;bq=type:postcode" />

  <!-- Organization to Use for UI Settings 
        e.g. Drenthe / Flevoland
    -->
  <add key="OrganizationToUse" value="Drenthe" />
  <!-- Specify the CRM application to use 
        e.g. DocBase/n-Adres
    -->
  <add key="CrmToUse" value="DocBase" />
  <add key="CrmDisplayName" value="DocBase" />
  <add key="nAdresFullTableName" value="" />

  <add key="ProbisInsertOrUpdateStoredProcedureName" value="" />

  <!-- Specify the current Environment
        e.g.: DEV, ACC or PROD
    -->
  <add key="Environment" value="DEV" />
  <!-- if enabled, the content of all responses from the KvK Inschrijvingen service will be appended to the response file-->
  <add key="EnableRawXmlBehavior" value="true" />
  <add key="InschrijvingenXmlResponseFile" value="\data\xml\" />

  <!-- Setting to specify the schemaName for the RSGB database -->
  <add key="RSGB_SchemaName" value="" />
  <!-- Setting to specify BRMO base application url -->
  <add key="BrmoApplicationBaseUrl" value="" />
  <add key="BrmoApplicationUserName" value="" />
  <add key="BrmoApplicationPassword" value="" />

  <!-- Basic KvKSearchApi settings-->
  <add key="KvkSearchApi.ApiKey" value="" />
  <add key="KvkSearchApi.BaseUrl" value="https://api.kvk.nl" />
  <add key="KvkSearchApi.SearchUrl" value="/api/v2/search/companies" />
  <add key="KvkSearchApi.ProfileUrl" value="/api/v2/profile/companies" />

  <!-- Username to use when (windows) authentication does not return a username
       Recommended to leave empty in production scenarios.
  -->
  <add key="UsernameToUseWhenEmpty" value="" />
  <!-- Set this to true to use a hardcoded (in memory) user manager
       Recommended to set to false in production scenarios. -->
  <add key="UseHardCodedUserManagerForTesting" value="False" />
  <!-- [Optional] When using the BrmoStagingConnection for the usermanager specify the dbProvider. 
       Possible values: NHibernateOracle | NHibernateSQLCE | NHibernateSQL | NHibernatePostGRESQL...
      -->
  <add key="BrmoStagingDbProvider" value="" />
  <!-- [Optional] The schema name for the BRMO staging database  -->
  <add key="BrmoStagingDatabaseSchemaName" value="" />
  <!-- [Optional] Fill out the character used for parameters in this database type (ORACLE: semicolon, Other: @) -->
  <add key="BrmoStagingDatabaseParameterCharacter" value="" />
</appSettings>
