<connectionStrings>
  <!-- DefaultConnection is used for local account creation -->
  <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />

  <!-- Fill out connectionStrings to corresponding databases where needed -->
  <add name="NHibernateSQLCEConnection" connectionString="" providerName="System.Data.SqlServerCe" />
  <add name="OracleConnection" connectionString="" />
  <add name="OraclenAdresConnection" connectionString="" />
  <add name="OracleRsgbConnection" connectionString="" />
  <add name="OracleProbisConnection" connectionString="" />
  <add name="elmah-sqlservercompact" connectionString="Data Source=|DataDirectory|\Elmah.sdf" />
  <add name="NHibernatePostGRESQLConnection" connectionString="" />
</connectionStrings>