<client>
  <!-- KvK v2.5 Preprod: http://es.kvk.nl/HRIP-DataservicePP/2015/01 -->
  <endpoint name="KvKDataServiceSoap" address="http://es.kvk.nl/HRIP-Dataservice/2015/01"
            behaviorConfiguration="KvKDataClientCertificateBehavior"
            binding="customBinding"
            bindingConfiguration="KvKDataServiceBinding"
            contract="QNH.Overheid.KernRegister.Business.KvK.Dataservice">
    <identity>
      <dns value="webservices.osb.kvk.nl" />
    </identity>
  </endpoint>
  <!-- KvK v3.0 Preprod: http://es.kvk.nl/kvk-DataservicePP/2015/02 -->
  <endpoint name="KvKDataServiceSoap30"
            address="http://es.kvk.nl/kvk-Dataservice/2015/02"
            behaviorConfiguration="KvKDataClientCertificateBehavior"
            binding="customBinding"
            bindingConfiguration="KvKDataServiceBinding"
            contract="v30.Dataservice">
    <identity>
      <dns value="webservices.osb.kvk.nl" />
    </identity>
  </endpoint>
  <!-- DocBase (base) bindings -->
  <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecuritySoap"
            contract="Security.SecuritySoap" name="SecuritySoap" />
  <endpoint address="" binding="basicHttpBinding" bindingConfiguration="RelationsSoap"
            contract="Relations.RelationsSoap" name="RelationsSoap" />
</client>