<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="host" value="kmail.b3partners.nl"/>
    <add key="userName" value="kvkmutaties_noordbrabant"/>
    <add key="password" value="007dd5Aw9"/>
    <add key="port" value="995"/>

    <add key="uploadFolder" value="C:\\b3p\\" />
    <add key="tempFolder" value="C:\\b3p\\temp\\" />

    <add key="batchLocation" value="C:\\b3p\\batch\\QNH.Overheid.KernRegister.BatchProcess.exe" />

  </appSettings>
</configuration>