@model QNH.Overheid.KernRegister.Beheer.Controllers.TasksController
@{
    ViewBag.Title = Default.ToTasks;
}

@section customstyles
{
    <style>
        .form-batch .row {
            margin-bottom: 5px;
        }

        .error {
            color: red;
        }

        select[disabled] {
            background-color: #e4e4e4;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <!-- The file upload form used as target for the file upload widget -->
        <h3>Geconfigureerde BRMO taken</h3>


        @foreach (var task in Model.TaskProcesses)
        {
            <div class="row">
                <div class="col-sm-6">
                    <label id="@task.Name" style="width:250px">@task.Name</label>
                </div>
                <div class="col-sm-6">
                    <button onclick="manageTask(this.id)" id="@task.Name" class="btn btn-default btn-primary">Beheer taak</button>
                    <button onclick="deleteTask(this.id)" id="@task.Name" class="btn btn-default btn-primary">Verwijder taak</button>
                </div>
            </div>
        }

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function manageTask(clicked_id) {
            location.replace(window.location.origin + window.location.pathname.replace("Tasks", "Brmo") + "?name=" + clicked_id);
        };

        function deleteTask(clicked_id) {
            $.post(window.location.href + "/DeleteTask", { name: clicked_id })
                .done(function () {
                    location.reload();
                })
                .fail(function () {
                    alert("Taak kan niet worden verwijderd!");
                });
        };
    </script>
}
