<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->


    <target xsi:type="File" name="f" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} - ${threadid} - ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}" />

    <target name="kvkErrorFile" xsi:type="File" fileName="${basedir}/Logs/kvk/${shortdate}-kvkerrors.log" />
    <target name="threadLogger" xsi:type="File" fileName="${basedir}/Logs/${shortdate} - threaded.log"
            layout="${longdate} - ${threadid} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}" />
    <target name="kvkCountingLoggerFile" xsi:type="File" fileName="${basedir}/Logs/kvkCount/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="apiLoggerFile" xsi:type="File" fileName="${basedir}/Logs/API/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="authorizationLoggerFile" xsi:type="File" fileName="${basedir}/Logs/Authorization/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="mutatiesLoggerFile" xsi:type="File" fileName="${basedir}/Logs/Mutaties/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="mutatiesSummaryLoggerFile" xsi:type="File" fileName="${basedir}/Logs/Mutaties/${shortdate}-summary.log"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="kvkerror" minlevel="Trace" writeTo="kvkErrorFile" />
    <logger name="kvkCountingLogger" minlevel="Trace" writeTo="kvkCountingLoggerFile" />
    
    <!-- Added both max and min value rules to ensure final is working. -->
    <logger name="apiLogger" maxlevel="Trace" final="true" />
    <logger name="apiLogger" minlevel="Info" writeTo="apiLoggerFile" final="true" />
    <!-- Added both max and min value rules to ensure final is working. -->
    <logger name="authorizationLogger" maxlevel="Info" final="true" />
    <logger name="authorizationLogger" minlevel="Warn" writeTo="authorizationLoggerFile" final="true" />

    <!-- Added both max and min value rules to ensure final is working. -->
    <logger name="mutatiesLogger" maxlevel="Trace" final="true" />
    <logger name="mutatiesLogger" minlevel="Info" writeTo="mutatiesLoggerFile" final="true" />

    <!-- Added both max and min value rules to ensure final is working. -->
    <logger name="mutatiesSummaryLogger" maxlevel="Trace" final="true" />
    <logger name="mutatiesSummaryLogger" minlevel="Info" writeTo="mutatiesSummaryLoggerFile" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="f" />
    <!--<logger name="QNH.Overheid.KernRegister.Business.Business.InschrijvingProcessing" minlevel="Trace" writeTo="threadLogger" />-->
  </rules>
</nlog>