<appSettings>
  <!-- IoC Settings -->
  <!-- Specify whether or not to create the database i.e. run the creation script -->
  <add key="CreateDatabase" value="false" />
  <!-- Possible values: NHibernateOracle | NHibernateSQL | NHibernateSQLCE | NHibernatePostGRESQL...  -->
  <add key="DatabaseProvider" value="NHibernatePostGRESQL" />
  <!-- Specify Database Schema Name -->
  <add key="DatabaseSchemaName" value="" />
  <add key="MaxDegreeOfParallelism" value="64" />
  <add key="MaxDegreeOfParallelismCrm" value="1" />
  <!-- SearchService settings -->
  <add key="SearchServiceCacheTimeInHours" value="1" />
  <add key="SearchServiceKlantReferentie" value="" />

  <add key="HR-DataserviceVersionNumber" value="3.0" />
  <add key="HR-DataserviceVersionNumberBrmo" value="2.5" />

  <!-- DocBase settings -->
  <add key="DocBaseUsername" value="" />
  <add key="DocBasePassword" value="" />
  <add key="DocBaseAuthId" value="" />
  <add key="DocBaseProcessId" value="" />

  <!-- Postcode service settings -->
  <add key="PostcodeServiceBaseUrl" value="http://geodata.nationaalgeoregister.nl/locatieserver/v3/free?q=%22{0}%22%20and%20type:postcode&amp;df=postcode&amp;fl=gemeentenaam,postcode,score,type,provincienaam&amp;bq=type:postcode" />

  <!-- Specify the CRM application to use 
        e.g. DocBase/n-Adres
    -->
  <add key="CrmToUse" value="DocBase" />
  <add key="CrmDisplayName" value="DocBase" />
  <add key="nAdresFullTableName" value="" />

  <add key="ProbisInsertOrUpdateStoredProcedureName" value="" />

  <!-- Setting to specify the schemaName for the RSGB database -->
  <add key="RSGB_SchemaName" value="" />
  <!-- Setting to specify BRMO base application url -->
  <add key="BrmoApplicationBaseUrl" value="" />
  <add key="BrmoApplicationUserName" value="" />
  <add key="BrmoApplicationPassword" value="" />
</appSettings>