<connectionStrings>
  <!-- Fill out connectionStrings to corresponding databases where needed -->
  <add name="NHibernateSQLCEConnection" connectionString="" providerName="System.Data.SqlServerCe" />
  <add name="OracleConnection" connectionString="" />
  <add name="OraclenAdresConnection" connectionString="" />
  <add name="OracleRsgbConnection" connectionString="" />
  <add name="OracleProbisConnection" connectionString="" />
  <add name="NHibernatePostGRESQLConnection" connectionString="" />
</connectionStrings>