<behaviors>
  <endpointBehaviors>
    <behavior name="KvKDataClientCertificateBehavior">
      <clientCredentials>
        <!-- Update to use your own certificate! -->
        <clientCertificate findValue="" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
        <serviceCertificate>
          <authentication certificateValidationMode="None" />
          <defaultCertificate findValue="297F6B87881F528E172F291F845EDCCF4CD73E6E" storeLocation="LocalMachine"
                              storeName="My" x509FindType="FindByThumbprint" />
        </serviceCertificate>
      </clientCredentials>
      <!-- KvK v2.5 Preprod: https://webservices.preprod.kvk.nl/postbus1" -->
      <clientVia viaUri="https://webservices.kvk.nl/postbus1" />
    </behavior>
  </endpointBehaviors>
</behaviors>