<behaviors>
  <endpointBehaviors>
    <behavior name="KvKDataClientCertificateBehavior">
      <clientCredentials>
        <!-- Update to use your own certificate! -->
        <clientCertificate findValue="" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
        <serviceCertificate>
          <authentication certificateValidationMode="None" />
          <defaultCertificate findValue="58C6F25DD33F5180AEF5618077A631058720B76B" storeLocation="LocalMachine"
                              storeName="My" x509FindType="FindByThumbprint" />
        </serviceCertificate>
      </clientCredentials>
      <!-- KvK Preprod: https://webservices.preprod.kvk.nl/postbus1" -->
      <clientVia viaUri="https://webservices.kvk.nl/postbus1" />
    </behavior>
  </endpointBehaviors>
</behaviors>