<?xml version="1.0"?>

<!-- To use server side events, set eventing="true" /> -->
<backload xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd" getInclSubFolders="true">

  <!-- Sets the root upload folder internal and external path example (default: ~/Files) -->
  <!-- <fileSystem filesRoot="~/Uploads" /> -->
  <!-- <fileSystem filesRoot="z:\Uploads\" virtualDirectory="Uploads" -->
  <!-- <fileSystem filesRoot="\\FileServer\Files\" virtualDirectory="Uploads" -->

</backload>