<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="host" value=""/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="port" value=""/>

    <add key="uploadFolder" value="" />
    <add key="tempFolder" value="" />

    <add key="batchLocation" value="" />

  </appSettings>
</configuration>