<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <connectionStrings>
    <!-- Fill out connectionStrings to corresponding databases where needed -->
    <add name="NHibernateSQLCEConnection" connectionString="" providerName="System.Data.SqlServerCe" />
    <add name="OracleConnection" connectionString="" />
    <add name="OraclenAdresConnection" connectionString="" />
    <add name="OracleRsgbConnection" connectionString="" />
    <add name="OracleProbisConnection" connectionString="" />
  </connectionStrings>
  <appSettings>
    <!-- IoC Settings -->
    <!-- Specify whether or not to create the database i.e. run the creation script -->
    <add key="CreateDatabase" value="false" />
    <!-- Possible values: NHibernateOracle | NHibernateSQL | NHibernateSQLCE | ...  -->
    <add key="DatabaseProvider" value="NHibernateOracle" />
    <!-- Specify Database Schema Name -->
    <add key="DatabaseSchemaName" value="" />
    <add key="MaxDegreeOfParallelism" value="64" />
    <add key="MaxDegreeOfParallelismCrm" value="1" />
    <!-- SearchService settings -->
    <add key="SearchServiceCacheTimeInHours" value="1" />
    <add key="SearchServiceKlantReferentie" value="" />

    <add key="HR-DataserviceVersionNumber" value="2.5" />

    <!-- DocBase settings -->
    <add key="DocBaseUsername" value="" />
    <add key="DocBasePassword" value="" />
    <add key="DocBaseAuthId" value="" />
    <add key="DocBaseProcessId" value="" />

    <!-- Postcode service settings -->
    <add key="PostcodeServiceBaseUrl" value="http://geodata.nationaalgeoregister.nl/locatieserver/v3/free?q=%22{0}%22%20and%20type:postcode&amp;df=postcode&amp;fl=gemeentenaam,postcode,score,type,provincienaam&amp;bq=type:postcode" />

    <!-- Specify the CRM application to use 
        e.g. DocBase/n-Adres
    -->
    <add key="CrmToUse" value="DocBase" />
    <add key="CrmDisplayName" value="DocBase" />
    <add key="nAdresFullTableName" value="" />

    <add key="ProbisInsertOrUpdateStoredProcedureName" value="" />
    
    <!-- Setting to specify the schemaName for the RSGB database -->
    <add key="RSGB_SchemaName" value="" />
    <!-- Setting to specify BRMO base application url -->
    <add key="BrmoApplicationBaseUrl" value="" />
    <add key="BrmoApplicationUserName" value="" />
    <add key="BrmoApplicationPassword" value="" />
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="KvKDataServiceBinding" openTimeout="00:02:00" closeTimeout="00:02:00" sendTimeout="00:02:00" receiveTimeout="00:05:00">
          <transactionFlow />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <security authenticationMode="MutualCertificate" messageSecurityVersion="WSSecurity10WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10" allowSerializedSigningTokenOnReply="true" allowInsecureTransport="false" enableUnsecuredResponse="true">
          </security>
          <httpsTransport requireClientCertificate="true" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="SecuritySoap" />
        <binding name="RelationsSoap" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="KvKDataClientCertificateBehavior">
          <clientCredentials>
            <!-- Update to use your own certificate! -->
            <clientCertificate findValue="" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
              <defaultCertificate findValue="297F6B87881F528E172F291F845EDCCF4CD73E6E" storeLocation="LocalMachine" 
                                  storeName="My" x509FindType="FindByThumbprint" />
            </serviceCertificate>
          </clientCredentials>
          <!-- KvK v2.5 Preprod: https://webservices.preprod.kvk.nl/postbus1" -->
          <clientVia viaUri="https://webservices.kvk.nl/postbus1" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!-- KvK v2.5 Preprod: http://es.kvk.nl/HRIP-DataservicePP/2015/01 -->
      <endpoint name="KvKDataServiceSoap" address="http://es.kvk.nl/HRIP-Dataservice/2015/01" 
                behaviorConfiguration="KvKDataClientCertificateBehavior" 
                binding="customBinding" 
                bindingConfiguration="KvKDataServiceBinding" 
                contract="QNH.Overheid.KernRegister.Business.KvK.Dataservice">
        <identity>
          <dns value="webservices.osb.kvk.nl" />
        </identity>
      </endpoint>
      <!-- KvK v3.0 Preprod: http://es.kvk.nl/kvk-DataservicePP/2015/02 -->
      <endpoint name="KvKDataServiceSoap30"
                address="http://es.kvk.nl/kvk-DataservicePP/2015/02"
                behaviorConfiguration="KvKDataClientCertificateBehavior"
                binding="customBinding"
                bindingConfiguration="KvKDataServiceBinding"
                contract="v30.Dataservice">
        <identity>
          <dns value="webservices.osb.kvk.nl" />
        </identity>
      </endpoint>
      <!-- DocBase (base) bindings -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecuritySoap" 
                contract="Security.SecuritySoap" name="SecuritySoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="RelationsSoap" 
                contract="Relations.RelationsSoap" name="RelationsSoap" />
    </client>
  </system.serviceModel>
 <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Logs\TraceLog.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
