<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->


    <target xsi:type="File" name="f" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}" />

    <target name="functionalLogFileKernregistratie" xsi:type="File" fileName="${basedir}/Logs/Kernregistratie/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="functionalLogFileCrm" xsi:type="File" fileName="${basedir}/Logs/Crm/${shortdate}.log" 
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="brmoLoggerFile" xsi:type="File" fileName="${basedir}/Logs/Brmo/${shortdate}.log" 
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    <target name="kvkCountingLoggerFile" xsi:type="File" fileName="${basedir}/Logs/kvkCount/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="functionalLoggerKernregistratie" minlevel="Trace" writeTo="functionalLogFileKernregistratie" />
    <logger name="functionalLoggerCrm" minlevel="Trace" writeTo="functionalLogFileCrm" />
    <logger name="brmoLogger" minlevel="Trace" writeTo="brmoLoggerFile" />
    <logger name="kvkCountingLogger" minlevel="Trace" writeTo="kvkCountingLoggerFile" />
  </rules>
</nlog>